.main-intro{
    @media (min-width: 768px) and (max-width: 1199px) {
        .grid{
            width: 100%;
            padding: 0 20px 0 30px;

        }
    }
    .intro-view{
        background-color: #f4f4f4;
        padding:50px 0;
        @media (min-width: 576px) and (max-width: 1199px) {
            padding: 30px 0;
        }
    
        @media (min-width: 320px) and (max-width: 575px){
            padding: 20px 0;
        }
    	

    	&__title{
    		margin: 0 auto;

    	}
    	&__content{
    		margin: 0 auto;
    		padding-top: 32px;
            @media (min-width: 320px) and (max-width: 1199px) {
                padding-top: 0;
            }
    		p{
    			font-size: 1.7rem;
    			color: $color-text;
                 @media (min-width: 320px) and (max-width: 576pxpx) {
                    font-size: 1.4rem;
                 }
    		}
    	}
    }
    .intro-member{
    	padding: 48px 0 98px 0;
        @media (min-width: 575px) and (max-width: 768px) {
            padding: 20px 0 50px 0;
        }
        @media (min-width: 320px) and (max-width: 574px) {
            padding: 20px 0 40px 0;
        }

    	.intro-member__title{
    		text-align: center;
    	}
    	.intro-member__content{
    		display: flex;
    		justify-content: space-between;
    		margin-top: 60px;
            @media (min-width: 575px) and (max-width: 768px) {
                        display: grid;
                        width: 100%;
                        .fix-sort:nth-of-type(1){
                            grid-row: 2;
                            margin: 0 auto;
                            width: 100%;
                        }
                        .fix-sort:nth-of-type(2){
                            grid-row: 1;
                            margin: 0 auto;
                            width: 100%;
                        }
                    }
            @media (min-width: 320px) and (max-width: 574px) {
                        display: grid;
                        width: 100%;
                        .fix-sort:nth-of-type(1){
                            grid-row: 2;
                            margin: 0 auto;
                            width: 100%;
                        }
                        .fix-sort:nth-of-type(2){
                            grid-row: 1;
                            margin: 0 auto;
                            width: 100%;
                        }
                    }

    		.intro-member__content-left{
    			width: 50%;
    			margin-top: 30px;
    			.intro-member__content-title{
    				font-size: 5rem;
    				font-weight: 600;
                    @media (min-width: 575px) and (max-width: 768px){
                        font-size: 4.2rem;
                    }
                    @media (min-width: 320px) and (max-width: 574px){
                        font-size: 3.5rem;
                    }
    			}
    			p{
    				font-size: 1.75rem;
    				margin: 0;
                    @media (min-width: 320px) and (max-width: 574px){
                    font-size: 1.5rem;
    			}
                
                }
    			.intro-member__btn{
    				background-color: $color-primary;
    				color: $color-white;
    				margin-top: 25px;
    			}
    			.intro-member__btn:hover{
    				background-color: #650203;
    			}
    		}
    		.intro-member__content-right{
    			width: 50%;
    			text-align: center;
    			.intro-member__content-img{
                    @media (min-width: 768px) and (max-width: 1199px) {
                        width: 300px;
                    }
                    @media (min-width: 575px) and (max-width: 767px) {
                        width: 450px;
                    }
                    @media (min-width: 320px) and (max-width: 574px){
                        width: 290px;
                    }
    			}
    		}
    	}
    }
    .intro-reason{
       @media (min-width: 768px) and (max-width: 1199px) {
                       padding: 40px;
                    }
                    @media (min-width: 575px) and (max-width: 767px) {
                        padding: 30px;
                    }
                    @media (min-width: 320px) and (max-width: 574px){
                        padding: 15px;
                    }
    	&__main{
    	border: 1px solid $color-blur;
        width: 100%;
    	padding: 36px 36px 20px 36px;
        @media (min-width: 320px) and (max-width: 574px){
            padding: 10px;
        }
    	.intro-reason__title{
    		text-align: center;
    	}
    	.intro-reason__content{
    		padding-top: 52px;
    		display: flex;
    		flex-wrap: wrap;
            @media (min-width: 320px) and (max-width: 574px){
                display: block;
                padding-top: 0;
            }
    		.intro-reason__item{
    			width: calc(50% - 15px);
    			display: flex;
    			margin: 0 30px 30px 0;

                    @media (min-width: 320px) and (max-width: 574px){
                        display: block;
                        width: calc(100% - 60px);
                        text-align: center;
                        margin: 0 auto;
                    }
    			.intro-reason__item-img{
    				object-fit: contain;  
                       				
    			}
    			.intro-reason__item-text{
    				margin: 0 auto 0 16px;
                    @media (min-width: 320px) and (max-width: 574px){
                        text-align: left;
                        margin: 0;
                     }

    				.intro-reason__item-head{
    					font-weight: 450;
    					margin-bottom: 20px;
    				}
    				.intro-reason__item-discastion{
    					font-size: 1.5rem;
    					color: $color-blur;
    					margin: 0;
    				}
    			}
    		}
    		.intro-reason__item:nth-child(even) {
    			margin-right: 0;
    			padding-right: 0;
                @media (min-width: 320px) and (max-width: 574px){
                    padding: 0;
                    margin: 30px auto;
                     }
    		}
    	}
    	}
    }
    .intro-libraly{
    	padding-top: 98px;
        @media (min-width: 769px) and (max-width: 1040px){
            padding:60px 30px 50px 30px;
                }
                @media (min-width: 575px) and (max-width: 768px){
                        padding:10px 0 50px 0;

                    }
                    @media (min-width: 320px) and (max-width: 574px){
                        padding:10px 0 20px 0;

                    }
    	.intro-libraly__title{
    		text-align: center;
    	}
    	.intro-libraly__list{
    		display: flex;
    		flex-wrap: wrap;
    		margin: 35px 0 45px 0;
            @media (min-width: 575px) and (max-width: 768px){
                        margin: 0;
                    }
                    @media (min-width: 320px) and (max-width: 574px){
                        margin: 0;
                    }
    		.intro-libraly__item{
    			width: calc((100% - 60px) / 3);
    			height: 222px;
    			margin: 0 30px 30px 0;
                @media (min-width: 769px) and (max-width: 1024px){
                    margin: 0 30px 30px 0;
                }
                
                @media (min-width: 575px) and (max-width: 768px){
                        width: calc((100% - 60px) / 2);
                        margin: 0 15px 30px 15px;
                        height: 200px;
                    }
                    @media (min-width: 320px) and (max-width: 574px){
                        width: calc((100% - 60px) / 2);
                        margin: 0 15px 20px 15px;
                        height: 100px;
                    }

    			.intro-libraly__img{
    				width: 100%;
    				height: 100%;
    				cursor: pointer;
                    object-fit: cover;
    			}
    		}
    		.intro-libraly__item:nth-child(3n){
    			margin-right: 0;
                @media (min-width: 575px) and (max-width: 768px){
                        margin-right: 15px;
                    }
                    @media (min-width: 320px) and (max-width: 574px){
                       margin-right: 15px;
                    }
    		}
            .intro-libraly__item:last-child{
                @media (min-width: 575px) and (max-width: 768px){
                    margin: 0;
                }
            }
            .intro-libraly__item:nth-child(2n){
                margin-left: 0;
            }
    	}
    }
}