@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("/assets/font/OpenSans-Bold.tff") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("/assets/font/OpenSans-Bold.tff") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  line-height: 1.5rem;
  box-sizing: border-box;
  color: #ffffff; }
  html a:-webkit-any-link:focus {
    outline: none; }

@keyframes fadein {
  from {
    opacity: 0.5; }
  to {
    opacity: 1; } }
@keyframes spin {
  100% {
    transform: rotate(1turn); } }
@keyframes glowing {
  0% {
    box-shadow: 0 -2px 3px #ffffff; }
  50% {
    box-shadow: 0 -2px 10px #ffffff; }
  100% {
    box-shadow: 0 -2px 3px #ffffff; } }
@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }
figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden; }

figure:hover {
  opacity: 1; }

.slider-flash__common figure {
  position: relative; }

.slider-flash__common figure:before {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 2;
  content: '';
  width: 75%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(45deg); }

.slider-flash__common figure:hover::before {
  animation: shine 1s;
  transform: rotage(1turn); }
.slider-flash__common figure:not(:hover)::before {
  animation: out-shine 1s; }

@keyframes shine {
  100% {
    right: 125%; } }
@keyframes out-shine {
  100% {
    left: 125%; } }
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(0.8);
    opacity: 0.8; }
  50% {
    -webkit-transform: scale(2.1);
    opacity: 0.1; }
  100% {
    -webkit-transform: scale(0.8);
    opacity: 0.8; } }
@-webkit-keyframes zoomout {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.8; }
  100% {
    -webkit-transform: scale(3);
    opacity: 0.1; } }
@-webkit-keyframes shake {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto; }

.grid__row {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.grid__col-6 {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.grid__col-50 {
  width: 50%; }

.grid__col-4 {
  width: calc((100% - 30px) / 3);
  text-align: center;
  margin: 0 15px; }

.grid__col-7 {
  width: calc(60% - 15px); }

.grid__col-5 {
  width: calc(40% - 15px); }

.container {
  max-width: 1200px;
  padding: 0; }

.banner-common {
  width: 100%;
  height: 284px;
  position: relative; }
  .banner-common .banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .banner-common .banner__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)); }
    .banner-common .banner__content .banner__content-wrap {
      position: absolute;
      right: 0;
      bottom: calc((100% - 90px) / 2);
      left: 0;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      z-index: 2;
      transition: top linear 1s; }
      .banner-common .banner__content .banner__content-wrap .banner__wrap-title {
        font-size: 5rem;
        color: #ffffff;
        font-weight: 400; }
        @media (min-width: 320px) and (max-width: 1199px) {
          .banner-common .banner__content .banner__content-wrap .banner__wrap-title {
            font-size: 3.5rem;
            font-weight: 400; } }
      .banner-common .banner__content .banner__content-wrap .banner__wrap-page-action {
        display: flex;
        justify-content: center;
        padding-top: 10px; }
        .banner-common .banner__content .banner__content-wrap .banner__wrap-page-action .banner__wrap-page-back {
          color: #ffffff;
          font-size: 1.8rem;
          font-weight: 400;
          text-decoration: none;
          padding-right: 8px; }
        .banner-common .banner__content .banner__content-wrap .banner__wrap-page-action .banner__wrap-page-back:hover {
          text-decoration: none;
          color: #ac2223; }
        .banner-common .banner__content .banner__content-wrap .banner__wrap-page-action .banner__wrap-page-now {
          color: #ffffff;
          font-size: 1.8rem;
          font-weight: 400; }

.card-vertical__common {
  width: calc((100% - 60px) / 3);
  margin: 0 30px 30px 0; }
  @media (max-width: 768px) {
    .card-vertical__common {
      width: calc((100% - 30px) / 2);
      margin: 15px 0 !important;
      justify-content: space-between; } }
  @media (max-width: 575px) {
    .card-vertical__common {
      margin: 0 auto; } }
  .card-vertical__common .card-vertical__wrap {
    width: 100%;
    height: 222px;
    overflow: hidden; }
    .card-vertical__common .card-vertical__wrap .card-vertical__wrap-link {
      display: block; }
      .card-vertical__common .card-vertical__wrap .card-vertical__wrap-link .card-vertical__wrap-img {
        width: 100%;
        height: 222px;
        object-fit: cover; }
  .card-vertical__common .card-vertical__content {
    padding: 16px;
    text-align: initial; }
    .card-vertical__common .card-vertical__content .card-vertical__content-link {
      color: #262626;
      text-decoration: none;
      font-size: 2rem;
      font-weight: 600; }
      .card-vertical__common .card-vertical__content .card-vertical__content-link p {
        margin: 8px 0; }
    .card-vertical__common .card-vertical__content .card-vertical__content-link:hover {
      color: #ac2223; }
    .card-vertical__common .card-vertical__content .card-vertical__content-description {
      font-size: 1.6rem;
      color: #938d82;
      padding: 6px 0 6px 0; }
    .card-vertical__common .card-vertical__content .card-vertical__content-btn:hover {
      background-color: #ffffff;
      color: #ffc107; }

.card-vertical__common:nth-child(3n) {
  margin-right: 0; }

.card-vertical__common:hover {
  box-shadow: 0 3px 8px #E5E5E5; }

.card-horizontal__common {
  padding: 24px 0;
  display: flex;
  border-bottom: 1px solid #e9e9e9; }
  @media (max-width: 768px) {
    .card-horizontal__common {
      display: block; } }
  .card-horizontal__common .card-horizontal__link {
    text-decoration: none; }
    @media (max-width: 768px) {
      .card-horizontal__common .card-horizontal__link {
        display: block;
        text-align: center; } }
    .card-horizontal__common .card-horizontal__link .card-horizontal__img {
      width: 330px;
      height: 330px;
      object-fit: cover; }
      @media (max-width: 768px) {
        .card-horizontal__common .card-horizontal__link .card-horizontal__img {
          width: 280px;
          height: 280px; } }
  .card-horizontal__common .card-horizontal__wrap {
    margin: auto 48px;
    width: calc(100% - 80px); }
    @media (max-width: 768px) {
      .card-horizontal__common .card-horizontal__wrap {
        margin: 20px auto;
        width: 70%; } }
    @media (max-width: 575px) {
      .card-horizontal__common .card-horizontal__wrap {
        margin: 20px auto;
        width: 85%; } }
    .card-horizontal__common .card-horizontal__wrap .card-horizontal__wrap-link {
      text-decoration: none;
      color: #262626;
      font-size: 3rem;
      font-weight: 600; }
      @media (max-width: 1199px) {
        .card-horizontal__common .card-horizontal__wrap .card-horizontal__wrap-link {
          font-size: 2.2rem; } }
      @media (max-width: 768px) {
        .card-horizontal__common .card-horizontal__wrap .card-horizontal__wrap-link {
          font-size: 1.8rem; } }
      @media (max-width: 575px) {
        .card-horizontal__common .card-horizontal__wrap .card-horizontal__wrap-link {
          font-size: 1.6rem; } }
      .card-horizontal__common .card-horizontal__wrap .card-horizontal__wrap-link .card-horizontal__wrap-head {
        margin: 0 0 15px 0; }
    .card-horizontal__common .card-horizontal__wrap .card-horizontal__wrap-link:hover {
      color: #ac2223; }
    .card-horizontal__common .card-horizontal__wrap .card-horizontal__wrap-description {
      font-size: 1.5rem;
      color: #707070;
      margin: 15px 0 32px 0; }
      .card-horizontal__common .card-horizontal__wrap .card-horizontal__wrap-description p {
        margin: 0; }
    .card-horizontal__common .card-horizontal__wrap .card-horizontal__wrap-btn {
      color: #ffffff;
      background-color: #ac2223;
      width: 135px; }
    .card-horizontal__common .card-horizontal__wrap .card-horizontal__wrap-btn:hover {
      background-color: #650203; }

.date-time__common {
  display: flex;
  align-items: center; }
  .date-time__common .date-time__icon {
    font-size: 1.4rem;
    padding-right: 4px;
    color: #ac2223; }
  .date-time__common .date-time__date {
    padding: 0;
    margin: 0;
    font-size: 1.4rem; }

.btn {
  min-width: 115px;
  min-height: 39px;
  text-decoration: none;
  border: none;
  background-color: #ffffff;
  color: #ac2223;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 1.5rem;
  outline: none; }

.btn:hover {
  background-color: #ac2223;
  transition: 0.2s linear; }

.btn.view i {
  padding-left: 8px;
  transition: 0.2s linear;
  font-weight: 300; }

.btn.black {
  color: #ffffff;
  background-color: #262626;
  font-size: 1.4rem;
  font-weight: 800;
  word-spacing: 2px; }

.btn.black:hover {
  background-color: #333333;
  transition: 0.2s linear; }

.btn.booking {
  background-color: #ac2223;
  margin: 40px 0;
  width: 195px;
  height: 54px;
  color: #ffffff; }

.btn.booking:hover {
  background-color: #650203;
  transition: 0.2s linear; }

.common-title {
  font-size: 3.4rem;
  font-weight: 600;
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 40px; }

.common-title.title-underline:before {
  content: "";
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  width: 151px;
  border: 2px solid #ac2223; }

.nd-title__common {
  display: flex;
  justify-content: center;
  position: relative; }
  .nd-title__common .nd-title__item__common {
    position: relative;
    margin-left: 20px; }
    .nd-title__common .nd-title__item__common a {
      color: #262626;
      font-size: 2rem;
      font-weight: 600;
      text-decoration: none; }
    .nd-title__common .nd-title__item__common a:hover {
      color: #ac2223;
      text-decoration: none; }
  .nd-title__common .nd-title__item__common.nd-title__item-selected__common:before {
    content: "";
    left: 0;
    bottom: -15px;
    position: absolute;
    width: 100%;
    border: 2px solid #707070; }

.nd-title__common:before {
  content: "";
  left: 0;
  bottom: -15px;
  position: absolute;
  width: 100%;
  border: 0.1px solid #e9e9e9; }

.common-link-name {
  font-size: 2rem;
  font-weight: 400;
  color: #ac2223;
  text-decoration: none; }

.common-link-name:hover {
  text-decoration: none;
  color: #ac2223; }

.app .header {
  width: 100%;
  background-color: #ac2223;
  z-index: 2;
  padding: 18px 0; }
  .app .header__container {
    display: flex;
    width: calc(100% - 36px);
    margin: auto; }
  .app .header__logo {
    align-items: center; }
    .app .header__logo .logo__img {
      height: 60px;
      width: 60px; }
    .app .header__logo .logo__link {
      display: block; }
  .app .header__menu {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: auto; }
  .app .header__mobile-menu {
    transform: translateX(-100%);
    box-shadow: 0 0 3px #E5E5E5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 75%;
    transition: 0.5s;
    max-width: 100%;
    z-index: 3;
    background-color: #ac2223; }
    .app .header__mobile-menu .header__mobile-list {
      padding: 0;
      border-left: 3px solid #ffffff; }
      .app .header__mobile-menu .header__mobile-list .header__mobile-item {
        list-style: none;
        padding: 7px 11px;
        border-top: 1px solid #ffffff; }
        .app .header__mobile-menu .header__mobile-list .header__mobile-item .header__mobile-link {
          text-decoration: none;
          color: #ffffff;
          font-size: 1.8rem; }
      .app .header__mobile-menu .header__mobile-list .header__mobile-item:first-child {
        border-top: none; }
  .app .header__mobile-menu__show {
    transform: translateX(0);
    transition: 0.5s; }
  .app .header__mobile-btn__show-menu {
    display: none; }
    .app .header__mobile-btn__show-menu .header__mobile-btn__icon {
      color: #ffffff;
      font-size: 3.2rem; }
  .app .header__mobile-btn__close-menu {
    display: none; }
    .app .header__mobile-btn__close-menu .header__mobile-btn__icon {
      color: #ffffff;
      font-size: 3.2rem; }
  .app .header-list {
    align-items: center;
    list-style: none;
    display: flex;
    padding: 10px 0;
    margin: 0; }
  .app .header .header-list-item {
    margin-right: 30px; }
  .app .header .header-list-item:last-child {
    margin-right: 0; }
  .app .header-item-link {
    font-weight: 500;
    text-decoration: none;
    color: #ffffff; }
  .app .header-item-link:hover {
    border-bottom: 2px solid #ffc107;
    text-decoration: none;
    color: #ffffff; }
  .app .header__contact {
    align-items: center;
    display: flex; }
    .app .header__contact .header__contact-icon {
      color: #ffffff;
      font-size: 4rem;
      margin-right: 16px; }
    .app .header__contact .contact-content .contact-phone {
      font-size: 2.5rem;
      text-decoration: none;
      font-weight: 500;
      color: #ffffff;
      overflow: visible; }
    .app .header__contact .contact-content .contact-phone:hover {
      transition: 0.2s linear;
      color: #ffc107; }
    .app .header__contact .contact-content p {
      font-style: italic;
      font-size: 1.6rem;
      color: #ffffff;
      margin: 0; }
.app .header-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 0;
  height: 44px;
  transition: 0.3s; }
  .app .header-fixed .header__menu {
    margin: -7px auto; }
  .app .header-fixed .header-list {
    padding: 0; }
  .app .header-fixed .header__logo {
    display: none; }
  .app .header-fixed .header__contact {
    display: none; }
.app .home-booking {
  position: relative; }
  .app .home-booking .home-booking__img {
    width: 100%; }
.app .home-booking__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .app .home-booking__content .home-booking__body {
    text-align: center;
    padding-top: 25px; }
    .app .home-booking__content .home-booking__body .home-booking__body-title {
      color: #ffffff; }
    .app .home-booking__content .home-booking__body .home-booking__body-wrap {
      width: 100%;
      height: 250px;
      position: relative;
      transform-origin: center;
      animation: grow linear 0.6s; }
    .app .home-booking__content .home-booking__body .home-booking__body-spin {
      width: 270px;
      height: 270px;
      margin: 0 auto;
      border-radius: 50%;
      text-align: center;
      border: 2px dashed #ffffff;
      animation: spin 10s infinite linear;
      position: absolute;
      top: 40px;
      left: calc((100% - 270px) / 2); }
    .app .home-booking__content .home-booking__body .home-booking__body-img {
      width: 250px;
      border-radius: 50%;
      border: 10px solid #ffffff;
      margin: 10px;
      position: absolute;
      top: 40px;
      left: calc((100% - 270px) / 2); }
    .app .home-booking__content .home-booking__body .home-booking__body-action {
      font-size: 3.1rem;
      width: 136px;
      position: absolute;
      bottom: -75%;
      left: calc((100% - 136px) / 2); }
      .app .home-booking__content .home-booking__body .home-booking__body-action .home-booking__body-name a {
        text-decoration: none;
        color: #ffffff; }
      .app .home-booking__content .home-booking__body .home-booking__body-action .home-booking__body-name a:hover {
        color: #ac2223; }
      .app .home-booking__content .home-booking__body .home-booking__body-action .home-booking__body-btn {
        width: 100%;
        font-weight: 600;
        margin-top: 16px;
        animation: glowing 1.5s infinite; }
      .app .home-booking__content .home-booking__body .home-booking__body-action .home-booking__body-btn:hover {
        color: #ffc107; }
.app .home-promotion {
  padding: 50px 0 82px 0;
  transform-origin: center;
  animation: grow linear 0.7s; }
  .app .home-promotion .home-promotion__content .home-promotion__item {
    position: relative;
    width: calc(50% - 15px);
    transition: top linear 1s;
    bottom: 0;
    overflow: hidden; }
    .app .home-promotion .home-promotion__content .home-promotion__item .home-promotion__img {
      width: 100%; }
    .app .home-promotion .home-promotion__content .home-promotion__item .home-promotion__select {
      display: flex;
      position: absolute;
      left: 75px;
      opacity: 0; }
      .app .home-promotion .home-promotion__content .home-promotion__item .home-promotion__select .home-promotion__btn {
        margin-left: 10px; }
        .app .home-promotion .home-promotion__content .home-promotion__item .home-promotion__select .home-promotion__btn a {
          font-weight: 600;
          color: #ac2223;
          display: block;
          margin: 4px 48px;
          text-decoration: none; }
      .app .home-promotion .home-promotion__content .home-promotion__item .home-promotion__select .home-promotion__btn:first-child {
        margin-left: 0; }
      .app .home-promotion .home-promotion__content .home-promotion__item .home-promotion__select .home-promotion__btn:hover a {
        color: #ffffff; }
  .app .home-promotion .home-promotion__content .home-promotion__item:hover .home-promotion__img {
    filter: brightness(35%); }
  .app .home-promotion .home-promotion__content .home-promotion__item:hover .home-promotion__select {
    bottom: 50%;
    transition: 0.2s linear;
    opacity: 1; }
  .app .home-promotion .home-promotion__content .home-promotion__item:not(:hover) .home-promotion__select {
    bottom: -50%;
    transition: 0.3s linear; }
.app .home-combo {
  background-color: #f4f4f4;
  padding-top: 48px; }
  .app .home-combo .home-combo__wrap {
    margin: 0 auto; }
    .app .home-combo .home-combo__wrap .home-combo__head-wrap {
      position: relative;
      transform-origin: center;
      animation: grow linear 0.7s; }
      .app .home-combo .home-combo__wrap .home-combo__head-wrap .home-combo__head-link {
        padding-bottom: 40px; }
    .app .home-combo .home-combo__wrap .home-combo__head-wrap:before {
      position: absolute;
      content: "";
      bottom: 25px;
      left: 0;
      border: 0.1px solid #ecedef;
      width: 100%; }
    .app .home-combo .home-combo__wrap .home-combo__wrap-content {
      padding: 60px;
      background-color: #ffffff;
      text-align: center;
      box-shadow: 0 3px 5px #999;
      transform-origin: center;
      animation: grow linear 0.7s; }
      .app .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__link {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;
        color: #262626;
        user-select: none;
        display: block; }
        .app .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__link .wrap-content__img {
          width: 100%;
          height: 100%; }
      .app .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__link:hover {
        color: #ac2223; }
      .app .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__discription {
        padding-top: 30px;
        user-select: none; }
        .app .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__discription p {
          padding: 30px 0;
          font-size: 1.5rem;
          line-height: 2rem;
          word-spacing: 1px; }
      .app .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__discription-btn {
        padding: 4px 21px;
        width: 100%; }
    .app .home-combo .home-combo__wrap .home-combo__wrap-foot {
      transform-origin: center;
      animation: grow linear 0.7s; }
.app .home-cooktable {
  background-color: #f4f4f4;
  padding-top: 54px; }
  .app .home-cooktable .home-cooktable__head {
    margin: 0 auto;
    transform-origin: center;
    animation: grow linear 0.7s;
    position: relative;
    width: 100%; }
    .app .home-cooktable .home-cooktable__head .home-cooktable__head-link {
      padding-bottom: 40px;
      text-align: center; }
  .app .home-cooktable .home-cooktable__head:before {
    position: absolute;
    content: "";
    bottom: 25px;
    left: 0;
    border: 0.1px solid #ecedef;
    width: 100%; }
  .app .home-cooktable .home-cooktable__slider {
    width: 100%; }
    .app .home-cooktable .home-cooktable__slider .slick-prev {
      background-color: #262626;
      border-radius: 50%;
      padding: 23px;
      left: -54px; }
    .app .home-cooktable .home-cooktable__slider .slick-prev:before,
    .app .home-cooktable .home-cooktable__slider .slick-next:before {
      position: absolute;
      font-size: 40px;
      top: 0;
      left: 8px; }
    .app .home-cooktable .home-cooktable__slider .slick-prev:hover,
    .app .home-cooktable .home-cooktable__slider .slick-next:hover {
      background-color: #ac2223;
      transition: 0.4s; }
    .app .home-cooktable .home-cooktable__slider .slick-next {
      right: -54px;
      background-color: #262626;
      border-radius: 50%;
      padding: 23px;
      color: #ffffff; }
    .app .home-cooktable .home-cooktable__slider .home-cooktable__content-card {
      display: flex !important;
      justify-content: space-between;
      position: relative;
      transform-origin: center;
      animation: grow linear 0.7s; }
      .app .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap {
        background-color: #ac2223; }
        .app .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap .home-cooktable__wrap-link {
          display: block;
          color: #ffffff;
          font-size: 3rem;
          font-weight: 800;
          user-select: none; }
          .app .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap .home-cooktable__wrap-link .home-cooktable__wrap-img {
            width: 100%;
            object-fit: cover; }
          .app .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap .home-cooktable__wrap-link .home-cooktable__wrap-img figure {
            position: relative; }
          .app .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap .home-cooktable__wrap-link .home-cooktable__wrap-img figure:after {
            position: absolute;
            top: 0;
            right: -75%;
            z-index: 2;
            display: block;
            content: '';
            width: 50%;
            height: 100%;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
            transform: skewX(45deg); }
          .app .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap .home-cooktable__wrap-link .home-cooktable__wrap-img figure:hover::before {
            animation: shine .75s; }
        .app .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap .home-cooktable__wrap-discription {
          padding: 30px; }
          .app .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap .home-cooktable__wrap-discription .home-cooktable__wrap-discription-btn {
            padding: 0 20px; }
          .app .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap .home-cooktable__wrap-discription .home-cooktable__wrap-discription:hover {
            background-color: #333131; }
          .app .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap .home-cooktable__wrap-discription p {
            font-size: 1.5rem;
            color: #ffffff;
            margin: 15px auto 30px auto;
            user-select: none; }
        .app .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap .home-cooktable__wrap-link:hover {
          text-decoration: none;
          color: #ffc107;
          transition: 0.2s linear; }
      .app .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__content-img {
        width: 100%;
        object-fit: cover; }
  .app .home-cooktable .home-cooktable__foot {
    width: 100%;
    text-align: center;
    padding-bottom: 8px;
    transform-origin: center;
    animation: grow linear 0.7s; }
.app .home-address {
  background-color: #262626; }
  .app .home-address .home-address__content {
    width: 50%;
    padding: 48px 0 35px 0;
    margin: 0 auto; }
    .app .home-address .home-address__content .home-address__title {
      color: #ffffff;
      width: 100%;
      text-align: center; }
    .app .home-address .home-address__content .home-address__wrap {
      padding-top: 20px; }
      .app .home-address .home-address__content .home-address__wrap .home-address__wrap-title {
        color: #ffffff;
        font-size: 2rem;
        font-weight: 500;
        position: relative; }
      .app .home-address .home-address__content .home-address__wrap .home-address__wrap-title:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        border: 1px solid #938d82;
        width: calc(100% - 101px); }
      .app .home-address .home-address__content .home-address__wrap .home-address__wrap-list {
        list-style: none;
        padding: 20px 0 0 0; }
        .app .home-address .home-address__content .home-address__wrap .home-address__wrap-list .home-address__wrap-item {
          color: #938d82;
          font-size: 1.5rem;
          padding: 15px 0;
          border-bottom: 1px dashed #938d82; }
          .app .home-address .home-address__content .home-address__wrap .home-address__wrap-list .home-address__wrap-item i {
            color: #ac2223;
            padding-right: 4px; }
        .app .home-address .home-address__content .home-address__wrap .home-address__wrap-list .home-address__wrap-item:last-child {
          border: none; }
.app .home-news {
  padding: 48px 0 80px 0; }
  .app .home-news .home-news__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
.app .btn-phone {
  position: fixed;
  bottom: 114px;
  left: 30px;
  z-index: 4; }
  .app .btn-phone span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    background: #ee3135;
    border-radius: 50%;
    position: absolute; }
    .app .btn-phone span .fa {
      font-size: 35px;
      color: #ffffff;
      animation: shake 1s infinite linear; }
    .app .btn-phone span:before {
      content: "";
      background: #ee3135;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      transform: scale(0.4);
      animation: zoomin 2s infinite linear;
      position: absolute;
      border-radius: 50%; }
    .app .btn-phone span:after {
      content: "";
      border: 1px solid red;
      width: 100%;
      height: 100%;
      opacity: 0.9;
      animation: zoomout 1s infinite linear;
      position: absolute;
      border-radius: 50%; }
.app .btn-messenger {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 4;
  width: 70px;
  height: 70px; }
  .app .btn-messenger img {
    width: 100%; }
.app .footer {
  position: relative;
  background-color: #0f0f0f; }
  .app .footer .scrollTop {
    position: absolute;
    left: calc((100% - 60px) / 2);
    width: 60px;
    top: -30px;
    opacity: 1;
    color: #ac2223;
    transition: all 0.4s ease-in-out 0s; }
  .app .footer .scrollTop i:hover {
    color: #ffffff;
    cursor: pointer;
    background-color: #ffc107; }
  .app .footer .scrollTop i {
    font-size: 2.5rem;
    color: #ffffff;
    border-radius: 50%;
    padding: 18px;
    background-color: #ac2223; }
  .app .footer-wrap {
    width: 100%;
    text-align: center;
    padding-top: 48px; }
    .app .footer-wrap .footer-logo .footer_logo-img {
      width: 61px;
      height: 61px; }
    .app .footer-wrap .footer-contact {
      display: inline-flex;
      justify-content: center;
      padding: 30px 0 16px 0; }
      .app .footer-wrap .footer-contact .footer-phone a {
        font-size: 2rem;
        padding-right: 16px;
        text-decoration: none;
        color: #ffffff; }
      .app .footer-wrap .footer-contact .footer-mail a {
        font-size: 1.6rem;
        border-left: 1px solid #ffc107;
        margin: 0;
        padding-left: 16px;
        color: #ffffff; }
      .app .footer-wrap .footer-contact a:hover {
        text-decoration: none;
        color: #ac2223; }
    .app .footer-wrap .footer-menu {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
      flex-wrap: wrap; }
      .app .footer-wrap .footer-menu .footer-item {
        list-style: none;
        margin-left: 20px; }
        .app .footer-wrap .footer-menu .footer-item .footer-item-link {
          text-decoration: none;
          color: #ffffff;
          font-size: 1.5rem; }
        .app .footer-wrap .footer-menu .footer-item .footer-item-link:hover {
          text-decoration: none;
          color: #ac2223; }
      .app .footer-wrap .footer-menu .footer-item:first-child {
        margin-left: 0; }
    .app .footer-wrap .footer-social .social-link {
      font-size: 1.5rem;
      color: #ffffff;
      padding-left: 16px; }
      .app .footer-wrap .footer-social .social-link i {
        border-radius: 50%;
        padding: 15px;
        width: 45px;
        background-color: #707070; }
      .app .footer-wrap .footer-social .social-link img {
        border-radius: 50%;
        padding: 15px;
        width: 45px;
        background-color: #707070; }
    .app .footer-wrap .footer-social .social-link:first-child {
      padding-left: 0; }
    .app .footer-wrap .footer-social .social-link:hover {
      text-decoration: none;
      color: #fff; }
      .app .footer-wrap .footer-social .social-link:hover i {
        color: #ac2223;
        background-color: #ffffff; }
      .app .footer-wrap .footer-social .social-link:hover img {
        color: #ac2223;
        background-color: #ffffff; }
    .app .footer-wrap .footer-infor {
      padding-top: 60px; }
      .app .footer-wrap .footer-infor p {
        font-size: 1.5rem;
        color: #ffffff; }

@media (min-width: 768px) and (max-width: 1199px) {
  .main-intro .grid {
    width: 100%;
    padding: 0 20px 0 30px; } }
.main-intro .intro-view {
  background-color: #f4f4f4;
  padding: 50px 0; }
  @media (min-width: 576px) and (max-width: 1199px) {
    .main-intro .intro-view {
      padding: 30px 0; } }
  @media (min-width: 320px) and (max-width: 575px) {
    .main-intro .intro-view {
      padding: 20px 0; } }
  .main-intro .intro-view__title {
    margin: 0 auto; }
  .main-intro .intro-view__content {
    margin: 0 auto;
    padding-top: 32px; }
    @media (min-width: 320px) and (max-width: 1199px) {
      .main-intro .intro-view__content {
        padding-top: 0; } }
    .main-intro .intro-view__content p {
      font-size: 1.7rem;
      color: #262626; }
      @media (min-width: 320px) and (max-width: 576pxpx) {
        .main-intro .intro-view__content p {
          font-size: 1.4rem; } }
.main-intro .intro-member {
  padding: 48px 0 98px 0; }
  @media (min-width: 575px) and (max-width: 768px) {
    .main-intro .intro-member {
      padding: 20px 0 50px 0; } }
  @media (min-width: 320px) and (max-width: 574px) {
    .main-intro .intro-member {
      padding: 20px 0 40px 0; } }
  .main-intro .intro-member .intro-member__title {
    text-align: center; }
  .main-intro .intro-member .intro-member__content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px; }
    @media (min-width: 575px) and (max-width: 768px) {
      .main-intro .intro-member .intro-member__content {
        display: grid;
        width: 100%; }
        .main-intro .intro-member .intro-member__content .fix-sort:nth-of-type(1) {
          grid-row: 2;
          margin: 0 auto;
          width: 100%; }
        .main-intro .intro-member .intro-member__content .fix-sort:nth-of-type(2) {
          grid-row: 1;
          margin: 0 auto;
          width: 100%; } }
    @media (min-width: 320px) and (max-width: 574px) {
      .main-intro .intro-member .intro-member__content {
        display: grid;
        width: 100%; }
        .main-intro .intro-member .intro-member__content .fix-sort:nth-of-type(1) {
          grid-row: 2;
          margin: 0 auto;
          width: 100%; }
        .main-intro .intro-member .intro-member__content .fix-sort:nth-of-type(2) {
          grid-row: 1;
          margin: 0 auto;
          width: 100%; } }
    .main-intro .intro-member .intro-member__content .intro-member__content-left {
      width: 50%;
      margin-top: 30px; }
      .main-intro .intro-member .intro-member__content .intro-member__content-left .intro-member__content-title {
        font-size: 5rem;
        font-weight: 600; }
        @media (min-width: 575px) and (max-width: 768px) {
          .main-intro .intro-member .intro-member__content .intro-member__content-left .intro-member__content-title {
            font-size: 4.2rem; } }
        @media (min-width: 320px) and (max-width: 574px) {
          .main-intro .intro-member .intro-member__content .intro-member__content-left .intro-member__content-title {
            font-size: 3.5rem; } }
      .main-intro .intro-member .intro-member__content .intro-member__content-left p {
        font-size: 1.75rem;
        margin: 0; }
        @media (min-width: 320px) and (max-width: 574px) {
          .main-intro .intro-member .intro-member__content .intro-member__content-left p {
            font-size: 1.5rem; } }
      .main-intro .intro-member .intro-member__content .intro-member__content-left .intro-member__btn {
        background-color: #ac2223;
        color: #ffffff;
        margin-top: 25px; }
      .main-intro .intro-member .intro-member__content .intro-member__content-left .intro-member__btn:hover {
        background-color: #650203; }
    .main-intro .intro-member .intro-member__content .intro-member__content-right {
      width: 50%;
      text-align: center; }
      @media (min-width: 768px) and (max-width: 1199px) {
        .main-intro .intro-member .intro-member__content .intro-member__content-right .intro-member__content-img {
          width: 300px; } }
      @media (min-width: 575px) and (max-width: 767px) {
        .main-intro .intro-member .intro-member__content .intro-member__content-right .intro-member__content-img {
          width: 450px; } }
      @media (min-width: 320px) and (max-width: 574px) {
        .main-intro .intro-member .intro-member__content .intro-member__content-right .intro-member__content-img {
          width: 290px; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .main-intro .intro-reason {
    padding: 40px; } }
@media (min-width: 575px) and (max-width: 767px) {
  .main-intro .intro-reason {
    padding: 30px; } }
@media (min-width: 320px) and (max-width: 574px) {
  .main-intro .intro-reason {
    padding: 15px; } }
.main-intro .intro-reason__main {
  border: 1px solid #c7c1be;
  width: 100%;
  padding: 36px 36px 20px 36px; }
  @media (min-width: 320px) and (max-width: 574px) {
    .main-intro .intro-reason__main {
      padding: 10px; } }
  .main-intro .intro-reason__main .intro-reason__title {
    text-align: center; }
  .main-intro .intro-reason__main .intro-reason__content {
    padding-top: 52px;
    display: flex;
    flex-wrap: wrap; }
    @media (min-width: 320px) and (max-width: 574px) {
      .main-intro .intro-reason__main .intro-reason__content {
        display: block;
        padding-top: 0; } }
    .main-intro .intro-reason__main .intro-reason__content .intro-reason__item {
      width: calc(50% - 15px);
      display: flex;
      margin: 0 30px 30px 0; }
      @media (min-width: 320px) and (max-width: 574px) {
        .main-intro .intro-reason__main .intro-reason__content .intro-reason__item {
          display: block;
          width: calc(100% - 60px);
          text-align: center;
          margin: 0 auto; } }
      .main-intro .intro-reason__main .intro-reason__content .intro-reason__item .intro-reason__item-img {
        object-fit: contain; }
      .main-intro .intro-reason__main .intro-reason__content .intro-reason__item .intro-reason__item-text {
        margin: 0 auto 0 16px; }
        @media (min-width: 320px) and (max-width: 574px) {
          .main-intro .intro-reason__main .intro-reason__content .intro-reason__item .intro-reason__item-text {
            text-align: left;
            margin: 0; } }
        .main-intro .intro-reason__main .intro-reason__content .intro-reason__item .intro-reason__item-text .intro-reason__item-head {
          font-weight: 450;
          margin-bottom: 20px; }
        .main-intro .intro-reason__main .intro-reason__content .intro-reason__item .intro-reason__item-text .intro-reason__item-discastion {
          font-size: 1.5rem;
          color: #c7c1be;
          margin: 0; }
    .main-intro .intro-reason__main .intro-reason__content .intro-reason__item:nth-child(even) {
      margin-right: 0;
      padding-right: 0; }
      @media (min-width: 320px) and (max-width: 574px) {
        .main-intro .intro-reason__main .intro-reason__content .intro-reason__item:nth-child(even) {
          padding: 0;
          margin: 30px auto; } }
.main-intro .intro-libraly {
  padding-top: 98px; }
  @media (min-width: 769px) and (max-width: 1040px) {
    .main-intro .intro-libraly {
      padding: 60px 30px 50px 30px; } }
  @media (min-width: 575px) and (max-width: 768px) {
    .main-intro .intro-libraly {
      padding: 10px 0 50px 0; } }
  @media (min-width: 320px) and (max-width: 574px) {
    .main-intro .intro-libraly {
      padding: 10px 0 20px 0; } }
  .main-intro .intro-libraly .intro-libraly__title {
    text-align: center; }
  .main-intro .intro-libraly .intro-libraly__list {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0 45px 0; }
    @media (min-width: 575px) and (max-width: 768px) {
      .main-intro .intro-libraly .intro-libraly__list {
        margin: 0; } }
    @media (min-width: 320px) and (max-width: 574px) {
      .main-intro .intro-libraly .intro-libraly__list {
        margin: 0; } }
    .main-intro .intro-libraly .intro-libraly__list .intro-libraly__item {
      width: calc((100% - 60px) / 3);
      height: 222px;
      margin: 0 30px 30px 0; }
      @media (min-width: 769px) and (max-width: 1024px) {
        .main-intro .intro-libraly .intro-libraly__list .intro-libraly__item {
          margin: 0 30px 30px 0; } }
      @media (min-width: 575px) and (max-width: 768px) {
        .main-intro .intro-libraly .intro-libraly__list .intro-libraly__item {
          width: calc((100% - 60px) / 2);
          margin: 0 15px 30px 15px;
          height: 200px; } }
      @media (min-width: 320px) and (max-width: 574px) {
        .main-intro .intro-libraly .intro-libraly__list .intro-libraly__item {
          width: calc((100% - 60px) / 2);
          margin: 0 15px 20px 15px;
          height: 100px; } }
      .main-intro .intro-libraly .intro-libraly__list .intro-libraly__item .intro-libraly__img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        object-fit: cover; }
    .main-intro .intro-libraly .intro-libraly__list .intro-libraly__item:nth-child(3n) {
      margin-right: 0; }
      @media (min-width: 575px) and (max-width: 768px) {
        .main-intro .intro-libraly .intro-libraly__list .intro-libraly__item:nth-child(3n) {
          margin-right: 15px; } }
      @media (min-width: 320px) and (max-width: 574px) {
        .main-intro .intro-libraly .intro-libraly__list .intro-libraly__item:nth-child(3n) {
          margin-right: 15px; } }
    @media (min-width: 575px) and (max-width: 768px) {
      .main-intro .intro-libraly .intro-libraly__list .intro-libraly__item:last-child {
        margin: 0; } }
    .main-intro .intro-libraly .intro-libraly__list .intro-libraly__item:nth-child(2n) {
      margin-left: 0; }

.promotion-list {
  padding: 40px 0; }

.promotion-content {
  padding: 48px 0; }
  @media (min-width: 1200px) {
    .promotion-content {
      padding: 48px 30px; } }
  @media (max-width: 1199px) {
    .promotion-content {
      padding: 40px 30px; } }
  @media (max-width: 768px) {
    .promotion-content {
      padding: 40px 20px; } }
  @media (max-width: 575px) {
    .promotion-content {
      padding: 30px 15px; } }

.promotion-control {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center; }
  .promotion-control .promotion-control__btn {
    background-color: #c7c1be;
    border: none;
    height: 45px;
    width: 45px;
    color: #262626;
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 8px;
    border-radius: 0;
    outline: none; }
    @media (max-width: 1199px) {
      .promotion-control .promotion-control__btn {
        height: 45px;
        width: 45px; } }
    @media (max-width: 768px) {
      .promotion-control .promotion-control__btn {
        height: 38px;
        width: 38px; } }
    @media (max-width: 575px) {
      .promotion-control .promotion-control__btn {
        height: 35px;
        width: 35px; } }
  .promotion-control .promotion-control__btn.promotion-control__now {
    background-color: #ac2223;
    color: #ffffff;
    cursor: text;
    border: none;
    border-radius: 0;
    outline: none; }
  .promotion-control .promotion-control__btn:hover {
    background-color: #ac2223;
    transition: 0.5s;
    color: #ffffff; }

.cooktable-content {
  padding: 48px 0; }
  @media (max-width: 1199px) {
    .cooktable-content {
      padding: 40px; } }
  @media (max-width: 768px) {
    .cooktable-content {
      padding: 30px; } }
  @media (max-width: 575px) {
    .cooktable-content {
      padding: 20px; } }
  .cooktable-content .cooktable-list {
    padding: 40px 0; }
  .cooktable-content .cooktable-content__title {
    text-align: center;
    margin-bottom: 40px; }
  .cooktable-content .cooktable-content__filter {
    margin: 0; }

.news-content {
  width: 100%;
  display: flex;
  padding: 50px 0 114px 0;
  flex-wrap: wrap; }
  @media (max-width: 1199px) {
    .news-content {
      padding: 40px; } }
  @media (max-width: 768px) {
    .news-content {
      padding: 30px;
      justify-content: space-between; } }
  @media (max-width: 575px) {
    .news-content {
      padding: 20px;
      margin: 0 auto; } }
  .news-content .news-content__wrap {
    box-shadow: 0 10px 10px #00000029; }
  .news-content .news-content__wrap:hover {
    box-shadow: 0 20px 20px #E5E5E5;
    transition: 0.5s; }

@media (max-width: 1199px) {
  .recruitment-content {
    padding: 40px; } }
@media (max-width: 768px) {
  .recruitment-content {
    padding: 30px; } }
@media (max-width: 575px) {
  .recruitment-content {
    padding: 20px; } }

.recruitment-list {
  padding: 45px 0 120px 0; }

@media (max-width: 1313px) {
  .slick-prev {
    display: none !important; }

  .slick-next {
    display: none !important; } }
@media (min-width: 1200px) {
  .grid {
    padding: 0 15px; }

  .header__container {
    width: 100%; }

  .header__logo {
    padding-left: 73px; }

  .home-combo {
    padding-top: 18px; }
    .home-combo .home-combo__wrap {
      width: calc(100% / 3); }
      .home-combo .home-combo__wrap .home-combo__wrap-content {
        padding: 20px 20px 60px 20px; }
        .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__img {
          width: 100%;
          height: 100%; }
        .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__discription .wrap-content__link {
          font-size: 1.6rem; }
        .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__discription p {
          font-size: 1.4rem; } }
@media (min-width: 1024px) and (max-width: 1199px) {
  .grid {
    padding: 0 30px; }

  .header {
    width: 100%;
    padding: 20px 30px; }
    .header .header__container {
      width: calc(100% - 60px); }
      .header .header__container .header-list-item {
        margin-right: 15px; }
        .header .header__container .header-list-item .header-item-link {
          font-size: 1.5rem; }
      .header .header__container .header__contact .header__contact-icon {
        font-size: 3rem;
        margin-right: 10px; }
      .header .header__container .header__contact .contact-content .contact-phone {
        font-size: 2rem; }
      .header .header__container .header__contact .contact-content p {
        font-size: 1.4rem; }

  .home .home-booking .home-booking__body-spin {
    display: none; }
  .home .home-booking .home-booking__body-name {
    font-size: 2rem; }
  .home .home-promotion {
    padding: 30px 0 45px 0; }
    .home .home-promotion .home-promotion__content {
      display: flex; }
      .home .home-promotion .home-promotion__content .home-promotion__item {
        width: calc((100% - 30px) / 2);
        padding-bottom: 35px; }
        .home .home-promotion .home-promotion__content .home-promotion__item .home-promotion__select {
          width: 256px;
          left: calc((100% - 256px) / 2); }
          .home .home-promotion .home-promotion__content .home-promotion__item .home-promotion__select .home-promotion__btn a {
            margin: 0; }
  .home .home-combo {
    padding-top: 18px; }
    .home .home-combo .home-combo__wrap {
      width: calc(100% / 3); }
      .home .home-combo .home-combo__wrap .home-combo__wrap-content {
        padding: 20px 20px 60px 20px; }
        .home .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__img {
          width: 100%;
          height: 100%; }
        .home .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__discription .wrap-content__link {
          font-size: 1.6rem; }
        .home .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__discription p {
          font-size: 1.4rem; }
  .home .home-cooktable {
    padding: 20px 0 50px 0; }
    .home .home-cooktable .home-cooktable__content {
      padding-bottom: 30px; }
      .home .home-cooktable .home-cooktable__content .home-cooktable__content .home-cooktable__wrap-discription {
        padding: 40px 20px; }
        .home .home-cooktable .home-cooktable__content .home-cooktable__content .home-cooktable__wrap-discription .home-cooktable__wrap-link {
          font-size: 1.8rem; }
        .home .home-cooktable .home-cooktable__content .home-cooktable__content .home-cooktable__wrap-discription p {
          font-size: 1.6rem; }
    .home .home-cooktable .home-cooktable__foot {
      margin-top: 15px;
      padding: 0; }
      .home .home-cooktable .home-cooktable__foot .home-cooktable__foot-btn {
        margin: 0; }
  .home .home-address .home-address__content {
    width: calc((100% - 30px) / 2);
    padding: 40px 0 30px 0; }
    .home .home-address .home-address__content .home-address__wrap-title {
      font-size: 1.6rem !important; }
  .home .home-news {
    padding: 45px 0 45px 0; }
    .home .home-news .home-news__content {
      justify-content: space-between; }

  .common-title {
    font-size: 2.5rem;
    margin-bottom: 30px; }

  .common-link-name {
    font-size: 1.8rem; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    width: 100%;
    padding: 20px 40px !important;
    position: static !important; }
    .header .header__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      align-items: center; }
      .header .header__container .header__logo .logo__img {
        height: 60px;
        width: 60px; }
      .header .header__container .header__menu {
        display: none; }
      .header .header__container .header__mobile-menu {
        width: 330px; }
      .header .header__container .header__contact {
        display: none; }
      .header .header__container .header__mobile-btn__show-menu {
        display: flex; }

  .home .home-booking .home-booking__body {
    padding-top: 20px; }
    .home .home-booking .home-booking__body .home-booking__body-wrap {
      height: 250px; }
      .home .home-booking .home-booking__body .home-booking__body-wrap .home-booking__body-spin {
        display: none; }
      .home .home-booking .home-booking__body .home-booking__body-wrap .home-booking__body-img {
        width: 250px;
        border-radius: 50%;
        border: 10px solid #ffffff;
        position: absolute;
        top: 30px;
        left: calc((100% - 250px) / 2); }
      .home .home-booking .home-booking__body .home-booking__body-wrap .home-booking__body-action {
        width: 110px;
        bottom: -48%;
        left: calc((100% - 87px) / 2); }
        .home .home-booking .home-booking__body .home-booking__body-wrap .home-booking__body-action .home-booking__body-name {
          font-size: 2rem; }
        .home .home-booking .home-booking__body .home-booking__body-wrap .home-booking__body-action .home-booking__body-btn {
          margin: 15px 0 0 0;
          height: 39px;
          padding: 0; }
  .home .home-promotion {
    padding: 30px 0 45px 0; }
    .home .home-promotion .home-promotion__content {
      display: flex; }
      .home .home-promotion .home-promotion__content .home-promotion__item {
        width: calc((100% - 30px) / 2);
        padding-bottom: 35px; }
        .home .home-promotion .home-promotion__content .home-promotion__item .home-promotion__select {
          width: 228px;
          left: calc((100% - 228px) / 2); }
          .home .home-promotion .home-promotion__content .home-promotion__item .home-promotion__select .home-promotion__btn a {
            margin: 0; }
  .home .home-combo {
    padding-top: 18px; }
    .home .home-combo .home-combo__wrap {
      width: calc(100% / 3); }
      .home .home-combo .home-combo__wrap .home-combo__wrap-content {
        padding: 20px 20px 60px 20px; }
        .home .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__img {
          width: 100%;
          height: 100%; }
        .home .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__discription .wrap-content__link {
          font-size: 1.6rem; }
        .home .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__discription p {
          font-size: 1.4rem; }
  .home .home-cooktable {
    padding: 20px 0 50px 0; }
    .home .home-cooktable .home-cooktable__slide .home-cooktable__content .home-cooktable__wrap-discription {
      padding: 40px 20px; }
      .home .home-cooktable .home-cooktable__slide .home-cooktable__content .home-cooktable__wrap-discription .home-cooktable__wrap-link {
        font-size: 1.8rem; }
      .home .home-cooktable .home-cooktable__slide .home-cooktable__content .home-cooktable__wrap-discription p {
        font-size: 1.6rem; }
    .home .home-cooktable .home-cooktable__foot {
      margin-top: 15px;
      padding: 0; }
      .home .home-cooktable .home-cooktable__foot .home-cooktable__foot-btn {
        margin: 0; }
  .home .home-address .home-address__content {
    width: calc((100% - 30px) / 2);
    padding: 15px 0 4px 0; }
    .home .home-address .home-address__content .home-address__wrap-title {
      font-size: 1.6rem !important; }
  .home .home-news {
    padding: 45px 0 45px 0; }
    .home .home-news .home-news__content {
      justify-content: space-between; }

  .grid {
    padding: 0 40px; }

  .common-title {
    font-size: 2.4rem;
    margin-bottom: 40px; }

  .common-title.title-underline:before {
    border: 1px solid #ac2223;
    bottom: -10px; }

  .common-link-name {
    font-size: 1.6rem; }

  .card-vertical__wrap {
    height: 126px !important; }
    .card-vertical__wrap .card-vertical__wrap-img {
      height: 126px !important; }

  .card-vertical__content {
    padding: 15px; }
    .card-vertical__content .card-vertical__content-link p {
      font-size: 1.8rem; }
    .card-vertical__content .card-vertical__content-description {
      font-size: 1.6rem; }

  .card-vertical__common:nth-child(3n) {
    margin: 0 auto; }

  .date-time__common .date-time__date {
    font-size: 1.4rem; }

  .btn {
    min-width: 94px;
    min-height: 29px;
    font-size: 1.4rem; }

  .btn.booking {
    width: 149px;
    height: 37px; } }
@media (min-width: 576px) and (max-width: 767px) {
  .header {
    position: static !important;
    width: 100% !important;
    padding: 15px 33px !important; }
    .header .header__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      align-items: center; }
      .header .header__container .header__logo .logo__img {
        height: 45px;
        width: 45px; }
      .header .header__container .header__menu {
        display: none; }
      .header .header__container .header__mobile-menu {
        width: 330px; }
      .header .header__container .header__contact {
        display: none; }
      .header .header__container .header__mobile-btn__show-menu {
        display: flex; }

  .home .home-booking .home-booking__body {
    padding-top: 15px; }
    .home .home-booking .home-booking__body .home-booking__body-wrap {
      height: 200px; }
      .home .home-booking .home-booking__body .home-booking__body-wrap .home-booking__body-spin {
        display: none; }
      .home .home-booking .home-booking__body .home-booking__body-wrap .home-booking__body-img {
        width: 200px;
        border-radius: 50%;
        border: 10px solid #ffffff;
        position: absolute;
        top: 0;
        left: calc((100% - 200px) / 2); }
      .home .home-booking .home-booking__body .home-booking__body-wrap .home-booking__body-action {
        width: 110px;
        bottom: -40%;
        left: calc((100% - 87px) / 2); }
        .home .home-booking .home-booking__body .home-booking__body-wrap .home-booking__body-action .home-booking__body-name {
          display: block;
          font-size: 1.7rem; }
        .home .home-booking .home-booking__body .home-booking__body-wrap .home-booking__body-action .home-booking__body-btn {
          margin: 0;
          height: 39px;
          padding: 0; }
  .home .home-promotion {
    padding: 20px 0 10px 0; }
    .home .home-promotion .home-promotion__content {
      display: flex; }
      .home .home-promotion .home-promotion__content .home-promotion__item {
        width: calc((100% - 30px) / 2);
        padding-bottom: 35px; }
        .home .home-promotion .home-promotion__content .home-promotion__item .home-promotion__select {
          width: 228px;
          left: calc((100% - 228px) / 2); }
          .home .home-promotion .home-promotion__content .home-promotion__item .home-promotion__select .home-promotion__btn a {
            margin: 0; }
  .home .home-combo {
    padding-top: 18px; }
    .home .home-combo .home-combo__wrap {
      width: calc((100% - 30px) / 2); }
      .home .home-combo .home-combo__wrap .home-combo__wrap-content {
        padding: 20px 20px 100px 20px; }
        .home .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__img {
          width: 100%;
          height: 100%; }
        .home .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__discription .wrap-content__link {
          font-size: 1.6rem; }
        .home .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__discription p {
          font-size: 1.4rem; }
  .home .home-cooktable {
    padding: 6px 0 24px 0; }
    .home .home-cooktable .home-cooktable__slider .home-cooktable__content-card {
      width: 100%;
      display: block !important; }
      .home .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap-discription {
        padding: 20px; }
        .home .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap-discription .home-cooktable__wrap-link {
          font-size: 1.8rem; }
        .home .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap-discription p {
          font-size: 1.6rem; }
    .home .home-cooktable .home-cooktable__slider .home-cooktable__content {
      width: 100%;
      margin: 0 auto 15px auto; }
    .home .home-cooktable .home-cooktable__foot {
      margin-top: 15px;
      padding: 0; }
      .home .home-cooktable .home-cooktable__foot .home-cooktable__foot-btn {
        margin: 0; }
  .home .home-address .home-address__content {
    width: 100%;
    padding: 15px 0 4px 0; }
    .home .home-address .home-address__content .home-address__wrap-title {
      font-size: 1.6rem !important; }
  .home .home-news {
    padding: 15px 0 45px 0; }
    .home .home-news .home-news__content {
      justify-content: space-between; }
      .home .home-news .home-news__content .card-vertical__content {
        padding: 10px; }

  .footer .scrollTop {
    left: calc((100% - 42px) / 2) !important;
    width: 42px !important;
    top: -21px !important; }
    .footer .scrollTop i {
      font-size: 1.8rem !important;
      padding: 12px !important; }
  .footer .footer-wrap {
    padding: 30px 0 20px 0; }
    .footer .footer-wrap .footer_logo-img {
      width: 45px !important;
      height: 45px !important; }
    .footer .footer-wrap .footer-contact {
      padding: 0;
      margin: 20px auto; }
      .footer .footer-wrap .footer-contact .footer-phone a {
        font-size: 1.4rem !important;
        padding-right: 12px !important; }
      .footer .footer-wrap .footer-contact .footer-mail a {
        font-size: 1.35rem !important;
        padding-left: 12px !important; }
    .footer .footer-wrap .footer-menu {
      padding-left: 0; }
      .footer .footer-wrap .footer-menu .footer-item:first-child {
        margin-left: 0; }
      .footer .footer-wrap .footer-menu .footer-item-link {
        font-size: 1.4rem !important; }
    .footer .footer-wrap .footer-infor {
      padding-top: 30px; }
      .footer .footer-wrap .footer-infor p {
        font-size: 1.4rem; }

  .btn-phone {
    left: 20px !important;
    bottom: 60px !important; }
    .btn-phone span {
      width: 40px !important;
      height: 40px !important; }
      .btn-phone span i {
        font-size: 2rem !important; }

  .btn-messenger {
    bottom: 10px !important;
    right: 20px !important;
    width: 48px !important;
    height: 48px !important; }

  .grid {
    padding: 0 33px; }

  .common-title {
    font-size: 2rem;
    margin-bottom: 40px; }

  .common-title.title-underline:before {
    border: 1px solid #ac2223;
    bottom: -10px; }

  .common-link-name {
    font-size: 1.6rem; }

  .card-vertical__common .card-vertical__wrap {
    height: 144px !important; }
    .card-vertical__common .card-vertical__wrap .card-vertical__wrap-img {
      height: 144px !important; }
  .card-vertical__common .card-vertical__content .card-vertical__content-link p {
    font-size: 1.6rem; }
  .card-vertical__common .card-vertical__content .card-vertical__content-description {
    font-size: 1.5rem; }

  .card-vertical__common:nth-child(3n) {
    margin: 0 auto; }

  .date-time__common .date-time__date {
    font-size: 1.4rem; }

  .btn {
    min-width: 94px;
    min-height: 29px;
    font-size: 1.4rem; }

  .btn.booking {
    width: 149px;
    height: 37px; } }
@media (min-width: 20em) and (max-width: 35.9375em) {
  .header {
    width: 100%;
    padding: 13px 15px !important;
    position: static !important; }
    .header .header__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      align-items: center; }
      .header .header__container .header__logo .logo__img {
        height: 45px;
        width: 45px; }
      .header .header__container .header__menu {
        display: none; }
      .header .header__container .header__contact {
        display: none; }
      .header .header__container .header__mobile-btn__show-menu {
        display: flex; }

  .home .home-booking .home-booking__body {
    padding-top: 15px; }
    .home .home-booking .home-booking__body .home-booking__body-wrap {
      height: 150px; }
      .home .home-booking .home-booking__body .home-booking__body-wrap .home-booking__body-spin {
        display: none; }
      .home .home-booking .home-booking__body .home-booking__body-wrap .home-booking__body-img {
        width: 150px;
        border-radius: 50%;
        border: 10px solid #ffffff;
        position: absolute;
        top: 0;
        left: calc((100% - 150px) / 2); }
      .home .home-booking .home-booking__body .home-booking__body-wrap .home-booking__body-action {
        width: 94px;
        bottom: -34%;
        left: calc((100% - 75px) / 2); }
        .home .home-booking .home-booking__body .home-booking__body-wrap .home-booking__body-action .home-booking__body-name {
          display: none; } }
@media (min-width: 20em) and (max-width: 35.9375em) and (max-width: 27.5em) {
  .home .home-booking .home-booking__content .home-booking__body {
    padding-top: 5px !important; }
  .home .home-booking .home-booking__body-wrap {
    height: 100px !important; }
    .home .home-booking .home-booking__body-wrap .home-booking__body-img {
      width: 100px !important;
      border: 4px solid #ffffff !important;
      left: calc((100% - 100px) / 2) !important; }
    .home .home-booking .home-booking__body-wrap .home-booking__body-action {
      bottom: -45% !important; }
  .home .home-booking .common-title {
    font-size: 1.4rem;
    margin-bottom: 0; } }
@media (min-width: 20em) and (max-width: 35.9375em) {
  .home .home-promotion {
    padding: 20px 0 15px 0; }
    .home .home-promotion .home-promotion__content {
      display: block; }
      .home .home-promotion .home-promotion__content .home-promotion__item {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 35px; }
        .home .home-promotion .home-promotion__content .home-promotion__item .home-promotion__select {
          width: 238px;
          left: calc((100% - 238px) / 2) !important; }
          .home .home-promotion .home-promotion__content .home-promotion__item .home-promotion__select .home-promotion__btn a {
            margin: 0; }
  .home .home-combo {
    padding-top: 20px; }
    .home .home-combo .home-combo__wrap {
      width: 100%; }
      .home .home-combo .home-combo__wrap .home-combo__wrap-content {
        padding: 15px; }
        .home .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__img {
          width: 100%;
          height: 100%; }
        .home .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__discription .wrap-content__link {
          font-size: 1.6rem; }
        .home .home-combo .home-combo__wrap .home-combo__wrap-content .wrap-content__discription p {
          font-size: 1.4rem; }
  .home .home-cooktable {
    padding: 6px 0 24px 0; }
    .home .home-cooktable .home-cooktable__slider .home-cooktable__content-card {
      width: 100%;
      display: block !important; }
      .home .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap-discription {
        padding: 15px; }
        .home .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap-discription .home-cooktable__wrap-link {
          font-size: 1.8rem; }
        .home .home-cooktable .home-cooktable__slider .home-cooktable__content-card .home-cooktable__wrap-discription p {
          font-size: 1.6rem; }
    .home .home-cooktable .home-cooktable__slider .home-cooktable__content {
      width: 100%;
      margin: 0 auto 15px auto; }
    .home .home-cooktable .home-cooktable__foot {
      margin-top: 15px;
      padding: 0; }
      .home .home-cooktable .home-cooktable__foot .home-cooktable__foot-btn {
        margin: 0; }
  .home .home-address .home-address__content {
    width: 100%;
    padding: 15px 0 4px 0; }
  .home .home-news {
    padding: 15px 0 45px 0; }
    .home .home-news .home-news__content .card-vertical__content {
      padding: 10px; }

  .footer .scrollTop {
    left: calc((100% - 42px) / 2) !important;
    width: 42px !important;
    top: -21px !important; }
    .footer .scrollTop i {
      font-size: 1.8rem !important;
      padding: 12px !important; }
  .footer .footer-wrap {
    padding: 30px 0 20px 0; }
    .footer .footer-wrap .footer_logo-img {
      width: 45px !important;
      height: 45px !important; }
    .footer .footer-wrap .footer-contact {
      padding: 0;
      margin: 20px auto; }
      .footer .footer-wrap .footer-contact .footer-phone a {
        font-size: 1.4rem !important;
        padding-right: 12px !important; }
      .footer .footer-wrap .footer-contact .footer-mail a {
        font-size: 1.35rem !important;
        padding-left: 12px !important; }
    .footer .footer-wrap .footer-menu {
      padding-left: 0; }
      .footer .footer-wrap .footer-menu .footer-item:first-child {
        margin-left: 0; }
      .footer .footer-wrap .footer-menu .footer-item-link {
        font-size: 1.4rem !important; }
    .footer .footer-wrap .footer-infor {
      padding-top: 30px; }
      .footer .footer-wrap .footer-infor p {
        font-size: 1.4rem; }

  .btn-phone {
    left: 20px !important;
    bottom: 60px !important; }
    .btn-phone span {
      width: 40px !important;
      height: 40px !important; }
      .btn-phone span i {
        font-size: 2rem !important; }

  .btn-messenger {
    bottom: 10px !important;
    right: 20px !important;
    width: 48px !important;
    height: 48px !important; }

  .grid {
    padding: 0 15px; }

  .common-title {
    font-size: 2rem;
    margin-bottom: 30px; }

  .common-title.title-underline:before {
    border: 1px solid #ac2223;
    bottom: -10px; }

  .common-link-name {
    font-size: 1.6rem; }

  .card-vertical__common {
    width: 100%;
    margin: 0 auto 30px auto; }
    .card-vertical__common .card-vertical__wrap {
      height: 330px !important; }
      .card-vertical__common .card-vertical__wrap .card-vertical__wrap-img {
        height: 330px !important; }
    .card-vertical__common .card-vertical__content .card-vertical__content-link p {
      font-size: 1.6rem; }
    .card-vertical__common .card-vertical__content .card-vertical__content-description {
      font-size: 1.5rem; }

  .card-vertical__common:nth-child(3n) {
    margin: 0 auto; }

  .date-time__common .date-time__date {
    font-size: 1.4rem; }

  .btn {
    min-width: 94px;
    min-height: 29px;
    font-size: 1.4rem; }

  .btn.booking {
    width: 149px;
    height: 37px; } }

/*# sourceMappingURL=main.css.map */
