@media (max-width: 1313px)  {
    .slick-prev{
        display: none !important;
    }
    .slick-next{
        display: none !important;
    }

}
@media (min-width: 1200px)  {
  .grid {
        padding: 0 15px;
    }
        .header__container {
            width: 100%;
        }
        .header__logo{
            padding-left: 73px
        }
        .home-combo {
            padding-top: 18px;

            .home-combo__wrap {
                width: calc(100% / 3);

                .home-combo__wrap-content {
                    padding: 20px 20px 60px 20px;

                    .wrap-content__img {
                        width: 100%;
                        height: 100%;
                    }

                    .wrap-content__discription {
                        .wrap-content__link {
                            font-size: 1.6rem;
                        }

                        p {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .grid {
        padding: 0 30px;
    }

    .header {
        width: 100%;
        padding: 20px 30px;

        .header__container {
            width: calc(100% - 60px);

            .header-list-item {
                margin-right: 15px;

                .header-item-link {
                    font-size: 1.5rem;
                }
            }

            .header__contact {
                .header__contact-icon {
                    font-size: 3rem;
                    margin-right: 10px;
                }

                .contact-content {
                    .contact-phone {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    .home {
        .home-booking {
            .home-booking__body-spin {
                display: none;
            }

            .home-booking__body-name {
                font-size: 2rem;
            }
        }

        .home-promotion {
            padding: 30px 0 45px 0;

            .home-promotion__content {
                display: flex;


                .home-promotion__item {
                    width: calc((100% - 30px) / 2);

                    padding-bottom: 35px;

                    .home-promotion__select {
                        width: 256px;
                        left: calc((100% - 256px) / 2);

                        .home-promotion__btn {
                            a {
                                margin: 0;
                            }
                        }

                    }

                }


            }
        }

        .home-combo {
            padding-top: 18px;

            .home-combo__wrap {
                width: calc(100% / 3);

                .home-combo__wrap-content {
                    padding: 20px 20px 60px 20px;

                    .wrap-content__img {
                        width: 100%;
                        height: 100%;
                    }

                    .wrap-content__discription {
                        .wrap-content__link {
                            font-size: 1.6rem;
                        }

                        p {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }

        .home-cooktable {
            padding: 20px 0 50px 0;

            .home-cooktable__content {
                padding-bottom: 30px;
                .home-cooktable__content {

                    .home-cooktable__wrap-discription {
                        padding: 40px 20px;

                        .home-cooktable__wrap-link {
                            font-size: 1.8rem;
                        }

                        p {
                            font-size: 1.6rem;
                        }
                    }

                }

                .home-cooktable__content {}

             
            }

            .home-cooktable__foot {
                margin-top: 15px;
                padding: 0;

                .home-cooktable__foot-btn {
                    margin: 0;
                }
            }

        }

        .home-address {
            .home-address__content {
                width: calc((100% - 30px) / 2);
                padding: 40px 0 30px 0;

                .home-address__wrap-title {
                    font-size: 1.6rem !important;
                }
            }
        }

        .home-news {
            padding: 45px 0 45px 0;

            .home-news__content {
                justify-content: space-between;
            }
        }

    }

    .common-title {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    .common-link-name {
        font-size: 1.8rem;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    $spin-size: 250px;
    $width-basic: 100%;

    .header {
        width: 100%;
        padding: 20px 40px !important;
        position: static !important;

        .header__container {
            width: $width-basic;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            align-items: center;

            .header__logo {
                .logo__img {
                    height: 60px;
                    width: 60px;
                }
            }

            .header__menu {
                display: none;
            }

            .header__mobile-menu {
                width: 330px;
            }

            .header__contact {
                display: none;
            }

            .header__mobile-btn__show-menu {
                display: flex;
            }

            .header__mobile-btn__close-menu {}
        }
    }


    .home {
        .home-booking {
            .home-booking__body {
                padding-top: 20px;

                .home-booking__body-wrap {
                    height: $spin-size;

                    .home-booking__body-spin {
                        display: none;
                    }

                    .home-booking__body-img {
                        width: $spin-size;
                        border-radius: 50%;
                        border: 10px solid #ffffff;
                        position: absolute;
                        top: 30px;
                        left: calc((100% - 250px) / 2);
                    }

                    .home-booking__body-action {
                        width: 110px;
                        bottom: -48%;
                        left: calc((100% - 87px) / 2);

                        .home-booking__body-name {

                            font-size: 2rem;
                        }

                        .home-booking__body-btn {
                            margin: 15px 0 0 0;
                            height: 39px;
                            padding: 0;
                        }

                    }
                }

            }
        }

        .home-promotion {
            padding: 30px 0 45px 0;

            .home-promotion__content {
                display: flex;


                .home-promotion__item {
                    width: calc((100% - 30px) / 2);

                    padding-bottom: 35px;

                    .home-promotion__select {
                        width: 228px;
                        left: calc((100% - 228px) / 2);

                        .home-promotion__btn {
                            a {
                                margin: 0;
                            }
                        }

                    }

                }


            }
        }

        .home-combo {
            padding-top: 18px;

            .home-combo__wrap {
                width: calc(100% / 3);

                .home-combo__wrap-content {
                    padding: 20px 20px 60px 20px;

                    .wrap-content__img {
                        width: 100%;
                        height: 100%;
                    }

                    .wrap-content__discription {
                        .wrap-content__link {
                            font-size: 1.6rem;
                        }

                        p {
                            font-size: 1.4rem;
                        }
                    }
                }
            }

        }

        .home-cooktable {
            padding: 20px 0 50px 0;

            .home-cooktable__slide {

                .home-cooktable__content {


                    .home-cooktable__wrap-discription {
                        padding: 40px 20px;

                        .home-cooktable__wrap-link {
                            font-size: 1.8rem;
                        }

                        p {
                            font-size: 1.6rem;
                        }
                    }

                }

                .home-cooktable__content {}

        
            }

            .home-cooktable__foot {
                margin-top: 15px;
                padding: 0;

                .home-cooktable__foot-btn {
                    margin: 0;
                }
            }

        }

        .home-address {
            .home-address__content {
                width: calc((100% - 30px) / 2);
                padding: 15px 0 4px 0;

                .home-address__wrap-title {
                    font-size: 1.6rem !important;
                }
            }
        }

        .home-news {
            padding: 45px 0 45px 0;

            .home-news__content {
                justify-content: space-between;
            }
        }

    }

    // base__
    .grid {
        padding: 0 40px;
    }

    .common-title {
        font-size: 2.4rem;
        margin-bottom: 40px;
    }

    .common-title.title-underline:before {
        border: 1px solid $color-primary;
        bottom: -10px;
    }

    .common-link-name {
        font-size: 1.6rem;
    }



    .card-vertical__wrap {
        height: 126px !important;

        .card-vertical__wrap-img {
            height: 126px !important;
        }
    }

    .card-vertical__content {
        padding: 15px;

        .card-vertical__content-link {
            p {
                font-size: 1.8rem;
            }
        }

        .card-vertical__content-description {
            font-size: 1.6rem;
        }
    }


    .card-vertical__common:nth-child(3n) {
        margin: 0 auto;
    }

    .date-time__common {
        .date-time__date {
            font-size: 1.4rem;
        }
    }

    .btn {
        min-width: 94px;
        min-height: 29px;
        font-size: 1.4rem;
    }

    .btn.booking {
        width: 149px;
        height: 37px;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    $spin-size: 200px;
    $width-basic: 100%;

    .header {
        position: static !important;
        width: 100% !important;
        padding: 15px 33px !important;

        .header__container {
            width: $width-basic;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            align-items: center;

            .header__logo {
                .logo__img {
                    height: 45px;
                    width: 45px;
                }
            }

            .header__menu {
                display: none;
            }

            .header__mobile-menu {
                width: 330px;
            }

            .header__contact {
                display: none;
            }

            .header__mobile-btn__show-menu {
                display: flex;
            }

            .header__mobile-btn__close-menu {}
        }
    }


    .home {

        .home-booking {
            .home-booking__body {
                padding-top: 15px;

                .home-booking__body-wrap {
                    height: $spin-size;

                    .home-booking__body-spin {
                        display: none;
                    }

                    .home-booking__body-img {
                        width: $spin-size;
                        border-radius: 50%;
                        border: 10px solid #ffffff;
                        position: absolute;
                        top: 0;
                        left: calc((100% - 200px) / 2);
                    }

                    .home-booking__body-action {
                        width: 110px;
                        bottom: -40%;
                        left: calc((100% - 87px) / 2);

                        .home-booking__body-name {
                            display: block;
                            font-size: 1.7rem;
                        }

                        .home-booking__body-btn {
                            margin: 0;
                            height: 39px;
                            padding: 0;
                        }

                    }
                }



            }
        }

        .home-promotion {
            padding: 20px 0 10px 0;

            .home-promotion__content {
                display: flex;


                .home-promotion__item {
                    width: calc((100% - 30px) / 2);

                    padding-bottom: 35px;

                    .home-promotion__select {
                        width: 228px;
                        left: calc((100% - 228px) / 2);

                        .home-promotion__btn {
                            a {
                                margin: 0;
                            }
                        }

                    }

                }


            }
        }

        .home-combo {
            padding-top: 18px;

            .home-combo__wrap {
                width: calc((100% - 30px) / 2);

                .home-combo__wrap-content {
                    padding: 20px 20px 100px 20px;

                    .wrap-content__img {
                        width: 100%;
                        height: 100%;
                    }

                    .wrap-content__discription {
                        .wrap-content__link {
                            font-size: 1.6rem;
                        }

                        p {
                            font-size: 1.4rem;
                        }
                    }
                }
            }

        }

        .home-cooktable {
            padding: 6px 0 24px 0;

            .home-cooktable__slider {
                
                .home-cooktable__content-card {
                    width: $width-basic;
                    
                    display: block !important;

                    .home-cooktable__wrap-discription {
                        padding: 20px;

                        .home-cooktable__wrap-link {
                            font-size: 1.8rem;
                        }

                        p {
                            font-size: 1.6rem;
                        }
                    }

                }

                .home-cooktable__content {
                    width: $width-basic;
                    margin: 0 auto 15px auto;
                }

            
            }

            .home-cooktable__foot {
                margin-top: 15px;
                padding: 0;

                .home-cooktable__foot-btn {
                    margin: 0;
                }
            }

        }

        .home-address {
            .home-address__content {
                width: $width-basic;
                padding: 15px 0 4px 0;

                .home-address__wrap-title {
                    font-size: 1.6rem !important;
                }
            }
        }

        .home-news {
            padding: 15px 0 45px 0;

            .home-news__content {
                justify-content: space-between;

                .card-vertical__content {
                    padding: 10px;
                }
            }
        }

    }

    .footer {
        .scrollTop {
            left: calc((100% - 42px) / 2) !important;
            width: 42px !important;
            top: -21px !important;

            i {
                font-size: 1.8rem !important;
                padding: 12px !important;
            }
        }

        .footer-wrap {

            padding: 30px 0 20px 0;

            .footer_logo-img {
                width: 45px !important;
                height: 45px !important;
            }

            .footer-contact {
                padding: 0;
                margin: 20px auto;

                .footer-phone {
                    a {
                        font-size: 1.4rem !important;
                        padding-right: 12px !important;
                    }
                }

                .footer-mail {
                    a {
                        font-size: 1.35rem !important;
                        padding-left: 12px !important;
                    }
                }
            }

            .footer-menu {
                padding-left: 0;

                .footer-item:first-child {
                    margin-left: 0;
                }

                .footer-item-link {
                    font-size: 1.4rem !important;
                }
            }

            .footer-infor {
                padding-top: 30px;

                p {
                    font-size: 1.4rem;
                }
            }
        }

    }


    .btn-phone {
        left: 20px !important;
        bottom: 60px !important;

        span {
            width: 40px !important;
            height: 40px !important;

            i {
                font-size: 2rem !important;
            }
        }
    }

    .btn-messenger {
        bottom: 10px !important;
        right: 20px !important;
        width: 48px !important;
        height: 48px !important;
    }


    // base__
    .grid {
        padding: 0 33px;
    }

    .common-title {
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .common-title.title-underline:before {
        border: 1px solid $color-primary;
        bottom: -10px;
    }

    .common-link-name {
        font-size: 1.6rem;
    }

    .card-vertical__common {
        

        .card-vertical__wrap {
            height: 144px !important;

            .card-vertical__wrap-img {
                height: 144px !important;
            }
        }

        .card-vertical__content {
            .card-vertical__content-link {
                p {
                    font-size: 1.6rem;
                }
            }

            .card-vertical__content-description {
                font-size: 1.5rem;
            }
        }
    }

    .card-vertical__common:nth-child(3n) {
        margin: 0 auto;
    }

    .date-time__common {
        .date-time__date {
            font-size: 1.4rem;
        }
    }

    .btn {
        min-width: 94px;
        min-height: 29px;
        font-size: 1.4rem;
    }

    .btn.booking {
        width: 149px;
        height: 37px;
    }

}

// Screen 320px => 575px
@media (min-width: 20em) and (max-width: 35.9375em) {
    $spin-size: 150px;
    $width-basic: 100%;

    .header {
        width: 100%;
        padding: 13px 15px !important;
        position: static !important;

        .header__container {
            width: $width-basic;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            align-items: center;

            .header__logo {
                .logo__img {
                    height: 45px;
                    width: 45px;
                }
            }

            .header__menu {
                display: none;
            }

            .header__contact {
                display: none;
            }

            .header__mobile-btn__show-menu {
                display: flex;
            }

            .header__mobile-btn__close-menu {}
        }
    }

    // page home
    .home {

        .home-booking {
            .home-booking__body {
                padding-top: 15px;

                .home-booking__body-wrap {
                    height: $spin-size;

                    .home-booking__body-spin {
                        display: none;
                    }

                    .home-booking__body-img {
                        width: $spin-size;
                        border-radius: 50%;
                        border: 10px solid #ffffff;
                        position: absolute;
                        top: 0;
                        left: calc((100% - 150px) / 2);
                    }

                    .home-booking__body-action {
                        width: 94px;
                        bottom: -34%;
                        left: calc((100% - 75px) / 2);

                        .home-booking__body-name {
                            display: none;
                        }

                    }
                }
            }

            // fix size for logo spin
            @media (max-width: 27.5em) {
                $spin-size: 100px !important;

                .home-booking__content {
                    .home-booking__body {
                        padding-top: 5px !important;

                    }
                }

                .home-booking__body-wrap {
                    height: $spin-size;

                    .home-booking__body-img {
                        width: $spin-size;
                        border: 4px solid #ffffff !important;

                        left: calc((100% - 100px) / 2) !important;
                    }

                    .home-booking__body-action {
                        bottom: -45% !important;
                    }
                }

                .common-title {
                    font-size: 1.4rem;
                    margin-bottom: 0;
                }
            }
        }

        .home-promotion {
            padding: 20px 0 15px 0;

            .home-promotion__content {
                display: block;

                .home-promotion__item {
                    width: $width-basic;
                    margin: 0 auto;
                    padding-bottom: 35px;

                    .home-promotion__select {
                        width: 238px;
                        left: calc((100% - 238px) / 2) !important;

                        .home-promotion__btn {
                            a {
                                margin: 0;
                            }
                        }

                    }

                }

                .home-promotion__item:hover {

                    .home-promotion__select {}

                }
            }
        }

        .home-combo {
            padding-top: 20px;

            .home-combo__wrap {
                width: $width-basic;

                .home-combo__wrap-content {
                    padding: 15px;

                    .wrap-content__img {
                        width: 100%;
                        height: 100%;
                    }

                    .wrap-content__discription {
                        .wrap-content__link {
                            font-size: 1.6rem;
                        }

                        p {
                            font-size: 1.4rem;
                        }
                    }
                }
            }

        }

        .home-cooktable {
            padding: 6px 0 24px 0;

            .home-cooktable__slider {

                .home-cooktable__content-card {
                    width: $width-basic;
                    display: block !important;
                    

                    .home-cooktable__wrap-discription {
                        padding: 15px;

                        .home-cooktable__wrap-link {
                            font-size: 1.8rem;
                        }

                        p {
                            font-size: 1.6rem;
                        }
                    }
                }

                .home-cooktable__content {
                    width: $width-basic;
                    margin: 0 auto 15px auto;
                }

          
            }

            .home-cooktable__foot {
                margin-top: 15px;
                padding: 0;

                .home-cooktable__foot-btn {
                    margin: 0;
                }
            }

        }

        .home-address {
            .home-address__content {
                width: $width-basic;
                padding: 15px 0 4px 0;
            }
        }

        .home-news {
            padding: 15px 0 45px 0;

            .home-news__content {
                .card-vertical__content {
                    padding: 10px;
                }
            }
        }

    }

    .footer {
        .scrollTop {
            left: calc((100% - 42px) / 2) !important;
            width: 42px !important;
            top: -21px !important;

            i {
                font-size: 1.8rem !important;
                padding: 12px !important;
            }
        }

        .footer-wrap {

            padding: 30px 0 20px 0;

            .footer_logo-img {
                width: 45px !important;
                height: 45px !important;
            }

            .footer-contact {
                padding: 0;
                margin: 20px auto;

                .footer-phone {
                    a {
                        font-size: 1.4rem !important;
                        padding-right: 12px !important;
                    }
                }

                .footer-mail {
                    a {
                        font-size: 1.35rem !important;
                        padding-left: 12px !important;
                    }
                }
            }

            .footer-menu {
                padding-left: 0;

                .footer-item:first-child {
                    margin-left: 0;
                }

                .footer-item-link {
                    font-size: 1.4rem !important;
                }
            }

            .footer-infor {
                padding-top: 30px;

                p {
                    font-size: 1.4rem;
                }
            }
        }

    }


    .btn-phone {
        left: 20px !important;
        bottom: 60px !important;

        span {
            width: 40px !important;
            height: 40px !important;

            i {
                font-size: 2rem !important;
            }
        }
    }

    .btn-messenger {
        bottom: 10px !important;
        right: 20px !important;
        width: 48px !important;
        height: 48px !important;
    }


    // base__
    .grid {
        padding: 0 15px;
    }

    .common-title {
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .common-title.title-underline:before {
        border: 1px solid $color-primary;
        bottom: -10px;
    }

    .common-link-name {
        font-size: 1.6rem;
    }

    .card-vertical__common {
        width: $width-basic;
        margin: 0 auto 30px auto;

        .card-vertical__wrap {
            height: 330px !important;

            .card-vertical__wrap-img {
                height: 330px !important;
            }
        }

        .card-vertical__content {
            .card-vertical__content-link {
                p {
                    font-size: 1.6rem;
                }
            }

            .card-vertical__content-description {
                font-size: 1.5rem;
            }
        }
    }

    .card-vertical__common:nth-child(3n) {
        margin: 0 auto;
    }

    .date-time__common {
        .date-time__date {
            font-size: 1.4rem;
        }
    }

    .btn {
        min-width: 94px;
        min-height: 29px;
        font-size: 1.4rem;
    }

    .btn.booking {
        width: 149px;
        height: 37px;
    }


}